body{
  font-size:16px;
  height:100%;
}
pre{
  background-color: #fff;
}
.bg2{
  background-color: #f5f5f5;
}
footer{
  background-color: #eee;
}
.col-md-2{
  margin-bottom: 1em;
}
.btn{
  border:1px solid #0277bd;
  color:#0277bd;
  background-color: transparent;
  margin: 0 2px;
}
.btn:hover, .btn:focus{
  background-color: #0277bd;
  color:#fff;
  transition: 0.5s;
}
.btn-danger{
  border-color: #bf360c;
  color: #bf360c;
}
.btn-danger:hover, .btn-danger:focus{
  background-color: #bf360c;
}
.btn-outline{
  border-color: #bdbdbd;
  color: #bdbdbd;
}
.btn-outline:hover, .btn-outline:focus{
  background-color: #bdbdbd;
}
.form-control{
  margin: 15px auto;
}
a{
  color: #0277bd ;
}
code{
  background-color: #f5f5f5;
}
::selection{
  background-color: #000;
  color:#fff;
}
img::selection{
  background-color: transparent;
}

#progressbar row{
  line-height: 1.5em;
  font-size: 1em;
  height: 1.5em
}

.dark-bar{
  background-color: #0277bd;
  border-radius: 2px;
  color:#fff;
}
.tint-bar, .dark-bar{
  padding:0;
}
#navbar, #jumbotron, #cards, #flexbox, #gallery, #flexibleCard, #progressBar, #newIcons, #getStarted, #getInTouch, #footer{
  width:80%;
  padding-top: 70px;
  padding-bottom:70px;
}
#navbar{
  padding-top:0;
  padding-bottom: 0px
}
.navbar-default{
  background-color: #fff;
  border:none;
  line-height:1.5em;
}

#navbar-brand{
  color:#0277bd;
  font-size: 1.5em;
  font-weight: bold;
}

.nav-item{
  letter-spacing: 1px;
  font-weight: bold;
  color: #000 !important;
  line-height: 0.8em;
  font-size: 0.8em;
}

.navbar-toggle{
  float:left;
  margin-left:30px;
}
.jumbotron{
  background-color: #fff;
}
.jumbotron p{
  padding-bottom: 30px;
}
.btn-lg{
  padding: 15px 35px;
  font-weight: bold;
  letter-spacing: 1px;
}
#cards p{
  text-align: justify;
}
#cards .col-md-4, #cards .col-sm-4{
  /*margin:0;*/
  padding:0;
  background-color: #fff;
  border: 1px solid #fff;
}
#thumbnail-zone{
  background-color: #fff;
}
#card #thumnail-zone .thumbnail{
  position: absolute;
  top: 0;
  bottom: 0;
  background-color: #fff;
  border: 1px solid red;
}
.thumbnail{
  /*border:0.5px solid #fff;*/
  border: none;
  margin:0;
  padding:0;
}
.galleryItem{
  position: relative;
  padding-bottom: 15px;
}
.galleryItem h3{
  position:absolute;
  top: 0px;
  left: 0;
  width: 100%;
  color: #fff;
  text-align: center;
}
#flexbox h2, #flexibleCard h2, #getStarted h2, #getInTouch h2{
  color:#0277bd;
  padding-bottom: 15px;
  display: inline;
  border-bottom: 3px solid #0277bd;
}
#flexbox .row, #flexibleCard .row{
  padding-top: 15px;
}
#flexbox img, #flexibleCard img, #newIcons img, #getStarted img{
  width: auto;
  height: 64px;
  padding-top: 15px;
}
#flexibleCard img+h3{
  color: #0277bd;
  font-size: 2.5em;
}
#gallery>h3{
  color: #0277bd;
}
#gallery .row>div>h3{
  font-size: 2.5em;
  font-style: bold;
  letter-spacing: 1px;
  padding-bottom: 30px;
}
#newIcons .row{
  padding-bottom: 50px;
}
#newIcons .row:last-child{
  padding-bottom: 0;
}
#newIcons .navbar .container{
  padding: 0;
}
#newIcons .navbar .container a{
  padding-right:8px;
}
#newIcons .active a{
  background-color: rgba(0,0,0,0);
}
#newIcons li a:hover{
  color:#bdbdbd;
  transition: 0.3s
}
#newIcons h2{
  margin-top: 0;
}
#newIcons p{
  text-align: justify;
}
#newIcons .jumbotron{
  border:1px solid #ccc;
  padding-left:15px;
  padding-right: 15px;
  margin-bottom: 0px;
}
#getStarted h2{
  border:none;
  display:block;
}
#getStarted h4{
  letter-spacing: 2px;
  padding-top: 60px;
}
#getInTouch h2{
  color:#000;
  display: inline-block;
  margin-bottom: 30px;
}
#getInTouch form{
  padding-top: 30px;
}
#getInTouch textarea{
  resize:none;
}
#getInTouch form button{
  margin-top: 30px;
  padding-left: 120px;
  padding-right: 120px;
}
footer{
  color:#0277bd;
  font-weight: bold;
  width:100%;
}
footer ul{
  list-style: none;
  padding: 0;
  font-size: 1.2em;
}
footer ul li:first-child, footer .text-right{
  color:#fff;
}
footer img{
  width:auto;
  height: 100px;
  padding-top: 15px;
}
footer #subscribe input{
  line-height: 3em;
  height: 3em;
  font-size: 1em
}