body{
	height:100%;
}
.bg{
	background-color: rgb(34,34,34);
	height:100%;
}
#navBar, #mainBody{
	width: 80%
}
#mainBody{
	padding-top: 70px;
}
.navbar{
	border:none;
}
#sideBar{
	background-color: #ccc;
	height: 100px;
}
#sideBar ul{
	padding-left: 10px;
	list-style: none;
}
#content{
	background-color: #ddd;
	height: 100px;
}
img{
	width:100%;
}