:root {
  --first-color: rgb(43, 95, 117);
  --second-color: rgb(88, 178, 220);
  --third-color: rgb(93, 172, 129);
  --fourth-color: rgb(201, 152, 51);
  --fifth-color: rgb(199, 62, 58);
}

body {
  margin: 0;
}

main {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.project-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.project-container:first-child {
  background-color: var(--first-color);
}

.project-container:nth-child(2) {
  background-color: var(--second-color);
}

.project-container:nth-child(3) {
  background-color: var(--third-color);
}

.project-container:nth-child(4) {
  background-color: var(--fourth-color);
}

.project-container:nth-child(5) {
  background-color: var(--fifth-color);
}
